Csvcubed implementation

In [1]:
import plotly.express as px

import my_package
from my_package import load
from my_package.load import *

df = load.buildDataFrame()

Could not find unit column name from the DSD, hence returning None
Could not find unit column name from the DSD, hence returning None

In [ ]:
load.dsd_components.qube_components

[QubeComponentResult(property='ambulance-response-times-by-local-authority.csv#measure/ambulance-response-time-median', property_label='Ambulance response time, median', property_type='Measure', csv_col_title='', required=True),
 QubeComponentResult(property='ambulance-response-times-by-local-authority.csv#dimension/year', property_label='Year', property_type='Dimension', csv_col_title='Year', required=True),
 QubeComponentResult(property='ambulance-response-times-by-local-authority.csv#dimension/geography', property_label='Geography', property_type='Dimension', csv_col_title='LGD2014', required=True),
 QubeComponentResult(property='http://purl.org/linked-data/cube#measureType', property_label='', property_type='Dimension', csv_col_title='Statistic', required=True),
 QubeComponentResult(property='http://purl.org/linked-data/sdmx/2009/attribute#unitMeasure', property_label='', property_type='Attribute', csv_col_title='', required=True)]

In [2]:
df.obs_val_column_title

'STATISTIC CODE'

In [4]:
df.dimension_column_titles

{'LGD2014', 'Year'}

In [5]:
df.measure_column_title

'Statistic'

In [6]:
df.measure_dict

{'ambulance-response-time-median': 'Ambulance response time, median'}

In [7]:
df.units_column_title

''

In [8]:
df.data

,STATISTIC CODE,Statistic,TLIST(A1),Year,LGD2014,Local Government District,VALUE
0,ART,"Ambulance response time, median",2010,2010,N09000001,Antrim and Newtownabbey,442
1,ART,"Ambulance response time, median",2010,2010,N09000002,"Armagh City, Banbridge and Craigavon",429
2,ART,"Ambulance response time, median",2010,2010,N09000003,Belfast,340
3,ART,"Ambulance response time, median",2010,2010,N09000004,Causeway Coast and Glens,529
4,ART,"Ambulance response time, median",2010,2010,N09000005,Derry City and Strabane,379
...,...,...,...,...,...,...,...
139,ART,"Ambulance response time, median",2021,2021,N09000008,Mid and East Antrim,1727
140,ART,"Ambulance response time, median",2021,2021,N09000009,Mid Ulster,1624
141,ART,"Ambulance response time, median",2021,2021,N09000010,"Newry, Mourne and Down",2244
142,ART,"Ambulance response time, median",2021,2021,N09000011,Ards and North Down,1790
143,ART,"Ambulance response time, median",2021,2021,N92000002,NI,1477

In [9]:
df.data.dtypes

STATISTIC CODE                 object
Statistic                    category
TLIST(A1)                       int64
Year                         category
LGD2014                      category
Local Government District      object
VALUE                           int64
dtype: object

In [10]:
language_performed = df.data.drop_duplicates(subset='Year', keep="last").sort_values(by=['Year'], ascending=True)

fig = px.scatter(language_performed, x="Year", y="Language")
fig.update_yaxes(autorange="reversed")
fig.update_layout(
    title={
        'text': "Language Used for Each Years Performance",
        'y':0.95,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'})
fig.show()

ValueError: Value of 'y' is not the name of a column in 'data_frame'. Expected one of ['STATISTIC CODE', 'Statistic', 'TLIST(A1)', 'Year', 'LGD2014', 'Local Government District', 'VALUE'] but received: Language

In [ ]:
final_ranks = df.data.loc[df.data['Measure'] == 'Final Rank'].sort_values(by=['Value'], ascending=True)

fig = px.scatter(final_ranks, x="Value", y="Language")
fig.update_yaxes(autorange="reversed")
fig.update_layout(
    title={
        'text': "Final Ranks for Each Language",
        'y':0.95,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'})
fig.show()

In [ ]:
people_on_stage = df.data.loc[df.data['Measure'] == 'People on Stage'].sort_values(by=['Year'], ascending=True)

fig = px.scatter(people_on_stage, x="Year", y="Value")
fig.update_layout(
    title={
        'text': "People on Stage for Each Years Performance",
        'y':0.95,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'})
fig.show()

In [ ]:
final_points = df.data.loc[df.data['Measure'] == 'Final Points'].sort_values(by=['Year'], ascending=True)

fig = px.line(final_points, x="Year", y="Value")
fig.update_layout(
    title={
        'text': "Final Points Scored for Each Years Performance",
        'y':0.95,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'})
fig.show()